.gameboard{
    margin-top: 5vw;
}

.gameboard-row{
    display: flex;
    justify-content: center;
}

.gameboard-cell{
    border: 2px solid rgb(86,87,88);
    width: 12vw;
    height: 12vw;
    max-width: 53px;
    max-height: 53px;
    margin: 3px;
    font-size: 2.2rem;
    font-weight: 700;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.gameboard-cell-dark{
    border: 2px solid rgb(135,138,140);
}

.gameboard-cell-correct{
    background-color: rgb(106,170,100);
    color: white;
    border: none;
}

.gameboard-cell-inWord{
    background-color: rgb(201,180,88);
    color: white;
    border: none;
}

.gameboard-cell-wrong{
    background-color: rgb(120,124,126);
    color: white;
    border: none;
}

.gameboard-cell-inWord-color-blind{
    background-color: rgb(133,192,249);
}

.gameboard-cell-correct-color-blind{
    background-color: rgb(245,121,58);
}

.shake{
    animation: shake 350ms ease-in-out;
}

.flip{
    animation: rotate 500ms linear;
}

.grow{
    animation: scale 200ms linear;
    border-color: rgb(141, 145, 146);
}

.entered{
    border-color: rgb(141, 145, 146);
}

@keyframes shake {
    10%{
        transform:translateX(-5%);
    }
    30%{
        transform:translateX(5%);
    }
    50%{
        transform:translateX(-7.5%);
    }
    70%{
        transform:translateX(7.5%);
    }
    90%{
        transform:translateX(-5%);
    }
    100%{
        transform:translateX(0%);
    }
}

@keyframes scale{
    0% {
        transform: scale(1.0);
        
    }
    100% {
        transform: scale(1.1);
    
    }
}
