.keyboard{
    margin-top:5vw;
    padding-bottom: 3.1vw;
    display: flex;
    justify-content: center;
}

.keys{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 410px;
}

.key{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 214, 218);
    color: black;
    margin: 3px;
    font-size: .85rem;
    font-weight:500;
    max-width: 34px;
    width: 8vw;
    min-width: 25px;
    height:58px;
    border-radius: 5px;
    border: none;
}

.key-dark-mode{
    color:white;
    background-color: rgb(129, 132, 131);
}

.ENTER{
    min-width:50px;
    width: 6.7vw;
    max-width: 70px
}

.DEL{
    min-width:30px;
    max-width: 45px;
}

.key-wrong-letter{
    background-color: rgb(120, 124, 126);
    color: white
}

.key-wrong-letter-dark{
    background-color: rgb(58,58,60);
    color: white
}

.key-inWord-letter{
    background-color: rgb(201,180,88);
    color: white
}

.key-correct-letter{
    background-color: rgb(106,170,100);
    color: white
}

.key-correct-letter-color-blind{
    background-color: rgb(245,121,58);
}

.key-inWord-letter-color-blind{
    background-color: rgb(133,192,249);
}