.keyboard{
    margin-top:5vw;
    padding-bottom: 3.1vw;
}

.keys{
    display:flex;
    justify-content: center;
}

.key{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 214, 218);
    color: black;
    margin: 3px;
    font-size: .85rem;
    font-weight:500;
    max-width: 40px;
    width: 7.6vw;
    min-width: 22px;
    height:60px;
    border-radius: 5px;
    border: none;
}

.key-dark-mode{
    color:white;
    background-color: rgb(129, 132, 131);
}


.enter-key{
    min-width:50px;
    max-width: 80px
}

.delete-key{
    min-width:30px;
    max-width: 50px;
}


.DEL:hover{
    background-color: rgb(219, 105, 105)
}
.ENTER:hover{
    background-color: rgb(67, 151, 230);
}

.key-wrong-letter{
    background-color: rgb(120, 124, 126);
    color: white
}

.key-wrong-letter-dark{
    background-color: rgb(58,58,60);
    color: white
}

.key-inWord-letter{
    background-color: rgb(201,180,88);
    color: white
}

.key-correct-letter{
    background-color: rgb(106,170,100);
    color: white
}

.key-correct-letter-color-blind{
    background-color: rgb(245,121,58);
}

.key-inWord-letter-color-blind{
    background-color: rgb(133,192,249);
}