
.modal-title{
    display:flex;
    justify-content: center;
    border-bottom: 3px solid gray;
}

.modal-body{
    display:flex;
    flex-direction: column;
    text-align: center;
}

.modal-body > p{
    margin-top:-12px;
    font-size: 13px;
}

.modal-button{
    display: flex;
    justify-content: center;
    margin-top:10px;
}

.modal-button > button{
    border: none;
    background-color: rgb(0, 112, 187);
    color: white;
    padding: 15px;
    border-radius: 5px;
}
.info-modal{
    padding: 8px;
}

.modal-background-dark{
    background-color: rgb(32, 32, 32);
}


.info-rules{
    border-bottom: 1px solid rgb(218, 218, 218);
}

.info-rules > p {
    margin: 7px;
}

.info-close{
    position: absolute;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    right: 10px;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}


.info-title{
    display: flex;
    justify-content: center;
}

.info-title > h1{
    font-size: 1.5rem;
    font-weight: 700;
}

.info-modal > div> p{
    font-size:14px;
}

.info-row{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.info-cell{
    border: 2px solid rgb(177, 177, 177);
    
    width: 12vw;
    height: 12vw;
    max-width: 40px;
    max-height: 40px;
    margin: 2px;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    display:flex;
    align-items: center;
    justify-content: center;
}

.info-dark{
    color: white;
}

.info-correct{
    background-color: rgb(106,170,100);
    border: none;
    color: white;
}



.info-inWord{
    background-color: rgb(201,180,88);
    border: none;
    color: white;  
}

.info-wrong{
    background-color: rgb(120,124,126);
    border: none;
    color: white; 
}

.info-flip{
    animation: rotate 500ms linear;
    animation-delay: 300ms;
}


.info-body > h2{
    font-size: .9rem;
    margin-top: 10px;
}

.settings-mode{
    border-bottom: 1px solid rgb(218, 218, 218);
    min-height: 55px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.settings-mode > div>h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0px;
}

.settings-mode > div>p{
    margin-top: 0px;
    font-size: 13px;
    max-width: 70vw;
}

.settings{
    margin-bottom: 60px;
}
.modal-stats-row{
    display: flex;
    justify-content: center;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: -15px;
}

.modal-stats{
    margin:8px;
}

.modal-stats > h3{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-bottom:-7px;
}

.modal-stats > p{
    text-align: center;
    font-size: 13px;
    margin: -5px;
}